@model BookStoreFinalProje.Models.AltKategoriler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AltKategoriler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltKategoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltKategoriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AltKategoriId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
